name: Build ESP32 Firmware

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Install Arduino CLI
      run: |
        curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh
        mv bin/arduino-cli /usr/local/bin/
        chmod +x /usr/local/bin/arduino-cli

    - name: Configure Arduino CLI
      run: |
        arduino-cli config init
        arduino-cli config add board_manager.additional_urls https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
        arduino-cli core update-index
        arduino-cli core install esp32:esp32

    - name: Compile Firmware
      run: |
        arduino-cli compile --fqbn esp32:esp32:esp32 src

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: firmware
        path: src/*.bin
        
